[submodule "modules/rvm"]
	path = modules/rvm
	url = git@github.com:maestrodev/puppet-rvm.git
	branch = c79ab56fdeeb542e03e284628465ad7d82f5c7c1
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
