#curate
  #instructions
    %ul
      %li
        Upload pathology cases
      %li
        System suggests histololgies and sites
      %li
        Review patholgy cases
      %li
        Export to METRIQ
