#curate
  #instructions
    %ul
      %li
        Upload pathology cases
      %li
        System suggests histologies and sites
      %li
        Review pathology cases
      %li
        Export to METRIQ
