<userEngines>
  <add name="ruby.2.1x64.rack" displayName="Ruby 2.1 x64 rack" fullPath="%SystemDrive%\Ruby21-x64\bin\ruby.exe" arguments="%SystemDrive%\Zoo\Workers\ruby\zoorack.rb" transport="NamedPipe" protocol="fastcgi">
    	<environmentVariables>
        	<add name="CURRENT_DIRECTORY" value="%APPL_PHYSICAL_SHORT_PATH%" />
        	<add name="HOME" value="%APPL_PHYSICAL_SHORT_PATH%" />
        	<add name="GEM_HOME" value="%APPL_PHYSICAL_SHORT_PATH%\GEM_HOME" />
        	<add name="GEM_PATH" value="%GEM_HOME%" />
        	<add name="Path" value="%GEM_HOME%\bin;%SystemDrive%\Ruby21-x64\bin;%SystemDrive%\Ruby21-x64\devkit\bin;%Path%" />
        	<!-- The below environment varaibles were added by Corey. I guess they sould be ok here. -->
        	<add name="RACK_ENV" value="production" />

    	</environmentVariables>
	</add>
</userEngines>
