- if user_signed_in? && policy(Abstractor::AbstractorAbstractionSchema).all?
  .icon-bar.six-up{ class: "case-finder-#{Rails.env}-navigation" }
    = render 'shared/navigation_links'
- else
  .icon-bar.five-up{ class: "case-finder-#{Rails.env}-navigation" }
    = render 'shared/navigation_links'