production:
  :exception_recipients: 
    - myemail@someserver.com 
  :smtp_settings: 
    :address: 'smtp.someserver.org'
    :port: 25
    :return_response: true
    :openssl_verify_mode: 'none'
  :host: 'http://app'
staging:
  :exception_recipients: 
    - myemail@someserver.com 
  :smtp_settings: 
    :address: 'smtp.someserver.org'
    :port: 25
    :return_response: true
    :openssl_verify_mode: 'none'
  :host: 'http://app'
development:
  :exception_recipients: 
    - myemail@someserver.com 
  :smtp_settings: 
    :address: 'smtp.someserver.org'
    :port: 25
    :return_response: true
    :openssl_verify_mode: 'none'
  :host: 'http://app'