development:
  secret_key_base: < run 'rake secret' in command line to generate secret key base >
staging:
  secret_key_base: < run 'rake secret' in command line to generate secret key base >
production:
  secret_key_base: < run 'rake secret' in command line to generate secret key base >