- content_for(:title) do
  Upload

#upload_pathology_cases
  %h2
    %b
      Upload
  = form_tag import_pathology_cases_path, multipart: true do
    = file_field_tag :file
    %button{ :type => 'submit', :id => 'upload_pathology_cases_button', class: 'tiny' }
      Import