.abstractor_abstraction_schema_controls {
  text-align: center;
}
.abstractor_abstraction_schema_values_index_link {
  @include button($button-tny, $radius: false);

}
.edit_abstractor_abstraction_schema_abstractor_object_value_link {
  @include button($button-tny, $radius: false);
}
.delete_abstractor_abstraction_schema_abstractor_object_value_link {
  @include button($button-tny, $alert-color, $radius: false);
}
.edit_abstractor_rule_link {
  @include button($button-tny, $radius: false);
}
.delete_abstractor_rule_link {
  @include button($button-tny, $alert-color, $radius: false);
}
#abstractor_object_value .navigation {
  @include grid-row();
  @include grid-column(
   $columns: 3,
   $push: 21
  );
}
.abstractor_footer {
  top: 35%;
}
#abstractor_abstraction_schemas {
  @include grid-column($columns: 24);
  .abstractor_abstraction_schemas_header {
    h2 {
      b {
        display: none;
      }
      &::before {
        content: "Dictionaries";
        font-weight: bold;
        font-size: $h2-font-size;
        line-height: $header-line-height;
        @include grid-column($columns: 24);
      }
    }
  }
  .abstractor_abstraction_schemas_list table{
    @include grid-column($columns: 24);
  }
}
#abstractor_object_values {
  @include grid-column($columns: 24);
  .abstractor_object_values_header {
    form#search_abstractor_object_values_form {
      label {
        font-weight: bold;
        margin-bottom: .5rem;
        padding-left: .25rem;
      }
      .abstractor_search {
        @include grid-column($columns: 20);
      }
      .abstractor_navigation {
        @include grid-column($columns: 4);
        margin-top: 2rem;
      }
    }
  }
  .abstractor_object_values_list {
    .pagination {
      @include grid-column($columns: 24);
    }

    table {
      @include grid-column($columns: 24);
    }
  }
  .new_abstractor_abstraction_schema_abstractor_object_value_link {
    @include button($button-tny, $radius: false);
  }
}
#abstractor_object_value {
  @include grid-column($columns: 24);
  label {
    font-weight: bold;
    margin-bottom: .5rem;
    padding-left: .25rem;
  }
  .abstractor_object_value_variant{
    .value {
      @include grid-column($columns: 20);
    }
    .case_sensitive {
      @include grid-column($columns: 2);
    }
  }
  .abstractor_object_value_variant_remove {
    @include grid-column($columns: 2);
    .abstractor_object_value_variant_delete_link {
      @include button($button-tny, $alert-color, $radius: false);
      margin-top: 2rem;
    }
  }
  .links {
     @include grid-column($columns: 24);
     .abstractor_object_value_variant_add_link {
        @include button($button-tny, $radius: false);
     }
  }
  input[type="submit"] {
    @include button($button-tny, $radius: false);
  }
}

#abstractor_rules {
  @include grid-column($columns: 24);
  .abstractor_rules_header {
    form#search_abstractor_rules_form {
      label {
        font-weight: bold;
        margin-bottom: .5rem;
        padding-left: .25rem;
      }
      .abstractor_search {
        @include grid-column($columns: 20);
      }
      .abstractor_navigation {
        @include grid-column($columns: 4);
        margin-top: 2rem;
      }
    }
  }
  .abstractor_rules_list {
    .pagination {
      @include grid-column($columns: 24);
    }

    table {
      @include grid-column($columns: 24);
    }
  }
  .new_abstractor_rule_link {
    @include button($button-tny, $radius: false);
  }
}
#abstractor_rule {
  @include grid-column($columns: 24);
  label {
    font-weight: bold;
    margin-bottom: .5rem;
    padding-left: .25rem;
  }
  input[type="submit"] {
    @include button($button-tny, $radius: false);
  }
  .abstractor_rule_abstractor_subject {
    .abstractor_rule_abstractor_subject_abstractor_subject {
      @include grid-column($columns: 20);
    }
    .abstractor_rule_abstractor_subject_remove {
      @include grid-column($columns: 2);
      .abstractor_rule_abstractor_subject_delete_link {
        @include button($button-tny, $alert-color, $radius: false);
        margin-top: 2rem;
      }
    }
  }
  .links {
    @include grid-column($columns: 24);
    .abstractor_rule_abstractor_subject_add_link {
      @include button($button-tny, $radius: false);
    }
  }
}
#abstractor_settings {
  @include grid-column($columns: 24);
  .abstractor_settings_list {
    table {
      @include grid-column($columns: 24);
    }
  }
}
.edit_abstractor_setting_link {
  @include button($button-tny, $radius: false);
}