#batch_export {
  @include grid-row();

  button.ui-button {
    height: 1.7rem;
  }

  .batch_export_header {
    @include grid-column(
     $columns: 24
    );

    .new_batch_export_link {
      float: left;
    }

    .batch_export_header_actions_show {
      @include grid-column(
       $columns: 7,
       $offset: 17
      );

      .export_type_toggle {
        border: $microformat-border-width $microformat-border-style $microformat-border-color;
        display: inline;
        padding: 1rem .5rem;
        margin-right: .5rem;
      }

      .create_batch_export_file_button {
        @include button($button-tny, $radius: false);
        display: inline;
      }
    }

    .batch_export_header_actions {
      @include grid-column(
       $columns: 9,
       $offset: 15
      );

      .create_batch_export_button {
        display: inline;
      }

      label {
        font-weight: bold;
        display: inline;
      }

      .create_batch_export_link {
        @include button($button-tny, $radius: false);
      }
      .create_batch_export_link_disabled {
        @include button($button-tny, $radius: false, $bg: $secondary-color);
      }
    }
  }

  .batch_export_details {
    @include grid-column(
     $columns: 24
    );
    table {
      @include grid-column(
       $columns: 24
      );
    }

    .pathology_case_review_link {
      @include button($button-tny, $radius: false);
    }
  }
  .no_abstractor_abstraction_groups {
    @include grid-column(
     $columns: 24
    );
  }
}