#flash {
  @include grid-row();
  @include grid-column(
   $columns: 24
  );
}

.field_with_errors {
  border-style: solid;
  border-color: red;

  input {
    margin-bottom: 0rem !important;
  }

  select {
    margin-bottom: 0rem !important;
  }
}

.casefinder--right {
  float: right;
}
.error {
  display: inline;
}
