.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  margin-bottom: .30rem;
}

#upload_pathology_cases {
  @include grid-row();
  @include grid-column(
   $columns: 24
  );
}

#pathology_cases {
  @include grid-row();

  .pathology_cases_header {
    @include grid-column(
     $columns: 24
    );

    .banner {
      vertical-align: middle;
    }

    #search_pathology_cases_form {
      @include grid-column(
       $columns: 24
      );

      label {
        font-weight: bold;
        margin-bottom: .5rem;
        padding-left: .25rem;
      }

      .search {
        @include grid-column(
          $columns: 4,
          $collapse:true
        )
      }

      .filter {
        @include grid-column(
          $columns: 3
        )
      }

      .filter_by {
        @include grid-column(
          $columns: 2
        )
      }

      .flagged_filter {
        @include grid-column(
          $columns: 3
        )
      }
      .date_filter {
        @include grid-column(
          $columns: 7
        );
        border: $microformat-border-width $microformat-border-style $microformat-border-color;

        .date_filter_components {
          @include grid-row();
          .date_filter_toggle {
            @include grid-column(
              $columns: 8
            );
            padding-left: 0;
            padding-right: 0;
          }
          .date_filter_range {
            @include grid-column(
              $columns: 16
            );
            padding-left: 0;
            padding-right: 0;

            .date_filter_range_components {
              @include grid-row();

              .date_from {
                @include grid-column(
                  $columns: 12
                )
              }
              .date_to {
                @include grid-column(
                  $columns: 12
                )
              }
            }
          }
        }
      }

      .navigation {
        margin-top: 2rem;
        @include grid-column(
          $columns: 5
        )
      }

    }
  }
    .pathology_cases_list {
    @include grid-column(
      $columns: 24
    );

    th .current {
      padding-right: 2em;
      background-repeat: no-repeat;
      background-position: right center;
    }

    th .asc {
      background-image: asset_url("drop25.png");
    }

    th .desc {
      background-image: asset_url("drop27.png");
    }

    table {
      @include grid-column(
       $columns: 24
      );
    }
    .pathology_case_review_link {
      @include button($button-tny, $radius: false);
    }
  }

}

#pathology_case {
  @include grid-row();

  .pathology_case_details {
    @include grid-column(
     $columns: 24
    );

    table {
      @include grid-column(
       $columns: 24
      );
    }

    .patient table {
      @include grid-row();
      border: none;
    }
    .pathology_case_details table {
      @include grid-row();
      border: none;
    }
  }

  .pathology_case_abstractions {
    .abstractor_abstraction_group .workflow_status_submitted {
      background-color: $info-color;
    }

    .abstractor_abstraction_group .workflow_status_discarded {
      background-color: $alert-color;
    }

    @include grid-row();

    .abstractor_abstractions {
      @include grid-column(
       $columns: 11,
       $offset: 1
      );
      clear: both;
    }

    .abstractor_group_update_workflow_status_link_enabled {
      @include button($button-tny, $radius: false);
    }

    .abstractor_group_update_workflow_status_link_disabled {
      @include button($button-tny, $radius: false, $bg: $secondary-color);
    }

    .abstraction_workflow_status_form {
      display: inline;
      margin-right: .5rem;
      margin-left: .5rem;
    }

    .abstractor_update_workflow_status_link {
      @include button($button-tny, $radius: false);
    }

    .abstractor_update_workflow_status_link_enabled {
      @include button($button-tny, $radius: false);
    }

    .abstractor_update_workflow_status_link_disabled {
      @include button($button-tny, $radius: false, $bg: $secondary-color);
    }

    .abstractor_group_add_link,
    .edit_abstractor_abstraction input[type="submit"] {
      @include button($button-tny, $radius: false);
    }

    .abstractor_group_delete_link  {
      @include button($button-tny, $alert-color, $radius: false);
    }

    .pathology_case_header_actions {
      @include grid-column(
       $columns: 11,
       $offset: 1
      );

      .actions {
        float: left;
      }

    }
    .pathology_case_footer_actions {
      @include grid-column(
       $columns: 11,
       $offset: 1
      );
      clear: both;
      .actions {
        float: right;
      }

      .abstractor_discard_case_link, .abstractor_undiscard_case_link, .abstractor_submit_case_link, .abstractor_pending_case_link {
        @include button($button-tny, $radius: false);
      }
      .next_pathology_case_link, .abstractor_discard_case_link, .abstractor_undiscard_case_link, .abstractor_submit_case_link, .abstractor_pending_case_link {
        margin-right: .5rem;
        margin-left: .5rem;
      }
    }
  }
}